<link rel="stylesheet" href="src/assets/css/ticketByAdmin.css">
<div id="ticketByAdmin">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if ticketByAdmin.error %}
                <div id="noTicketError" class="bg-warning text-uppercase text-danger text-center">{{ ticketByAdmin.error|raw }}</div>
            {% endif %}
            {% if ticketByAdmin.error is null %}
                <table class="table table-hover table-bordered">
                    <tr>
                        <th class="text-center text-primary text-capitalize">Titre</th>
                        <th class="text-center text-primary text-capitalize">Date</th>
                        <th class="text-center text-primary text-capitalize">User</th>
                        <th class="text-capitalize text-primary text-center">Current Status</th>
                    </tr>
                    {% for i in ticketByAdmin.element %}
                        <tr class="ticketProgress" data-id="{{ i.ticket.ticket_id }}">
                            <td class="text-center">{{ i.ticket.ticket_titre }}</td>
                            <td class="text-center">{{ i.ticket.ticket_date }}</td>
                            <td class="text-center">{{ i.user.user_username }}</td>
                            <td class="text-center">{{ i.current_status }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>

<script src="src/assets/js/ticketByAdmin.js"></script>